<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Leadtools.Annotations.Automation.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Annotations.BatesStamp.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Annotations.Designers.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Annotations.Engine.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Annotations.Engine.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Annotations.Rendering.WinForms.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Annotations.UI.WinForms" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Annotations.UI.WinForms.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Annotations.WinForms.dll" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Annotations.WinForms.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Async.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Barcode.DatamatrixRead.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Barcode.DatamatrixWrite.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Barcode.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Barcode.Lead2DRead.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Barcode.Lead2DWrite.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Barcode.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Barcode.OneD.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Barcode.PdfRead.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Barcode.PdfWrite.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Barcode.QrRead.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Barcode.QrWrite.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Caching.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.3js.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Bmp.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Cgm.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Cmp.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Cmw.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Cmx.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Dgn.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Doc.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Dox.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Drw.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Dwf.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Dwg.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Dxf.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.E00.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Fax.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Gbr.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Gif.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Htm.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.J2k.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Jb2.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Jbg.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Mif.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Mob.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Nap.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Pcl.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Pct.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Png.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Ppt.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Ppx.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Pst.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Pub.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Raw.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Rtf.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Shp.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Stl.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Tif.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Txt.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Wmf.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Wmz.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Wpg.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Xls.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Xlx.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Codecs.Xps.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.ColorConversion.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Controls.WinForms.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Document" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Document.Converter.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Document.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Document.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Document.Pdf.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Document.Raster.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Document.Writer.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Document.Writer.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Drawing.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Drawing.MP.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Formats.Document.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Formats.Raster.Common.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Formats.Vector.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Image.Processing.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.ImageProcessing.Color.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.ImageProcessing.Core.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.ImageProcessing.Effects.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.ImageProcessing.Kernel.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.ImageProcessing.SpecialEffects.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.ImageProcessing.Utilities.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Kernel.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Ocr.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Ocr.Languages.Main.NET" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Ocr.LEADEngine.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Ocr.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.OpenXml.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Pdf.Annotations.Converter.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Pdf.Annotations.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Pdf.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Pdf.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Svg.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Leadtools.Vector.dll.NETFramework" version="20.0.0.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.HelpPage" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.FileSystems" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.StaticFiles" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Sharepoint" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
</packages>